.default {
  font-size: 1.5em;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #44bee0;
  border: none;
}

.default:not(:disabled):hover {
  background-color: #61dafb;
}

.default:disabled {
  opacity: 0.5;
}
